<p id="notice"><%= notice %></p>

<h1>Employees</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Lastname</th>
      <th>Dni</th>
      <th>Email</th>
      <th>Bank</th>
      <th>Account</th>
      <th>Account type</th>
      <th>Cellphone</th>
      <th>Phone</th>
      <th>Phone2</th>
      <th>Deparment</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @employees.each do |employee| %>
      <tr>
        <td><%= employee.name %></td>
        <td><%= employee.lastname %></td>
        <td><%= employee.dni %></td>
        <td><%= employee.email %></td>
        <td><%= employee.bank %></td>
        <td><%= employee.account %></td>
        <td><%= employee.account_type %></td>
        <td><%= employee.cellphone %></td>
        <td><%= employee.phone %></td>
        <td><%= employee.phone2 %></td>
        <td><%= employee.deparment %></td>
        <td><%= link_to 'Show', employee %></td>
        <td><%= link_to 'Edit', edit_employee_path(employee) %></td>
        <td><%= link_to 'Destroy', employee, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Employee', new_employee_path %>
