<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @employee.name %>
</p>

<p>
  <strong>Lastname:</strong>
  <%= @employee.lastname %>
</p>

<p>
  <strong>Dni:</strong>
  <%= @employee.dni %>
</p>

<p>
  <strong>Email:</strong>
  <%= @employee.email %>
</p>

<p>
  <strong>Bank:</strong>
  <%= @employee.bank %>
</p>

<p>
  <strong>Account:</strong>
  <%= @employee.account %>
</p>

<p>
  <strong>Account type:</strong>
  <%= @employee.account_type %>
</p>

<p>
  <strong>Cellphone:</strong>
  <%= @employee.cellphone %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @employee.phone %>
</p>

<p>
  <strong>Phone2:</strong>
  <%= @employee.phone2 %>
</p>

<p>
  <strong>Deparment:</strong>
  <%= @employee.deparment %>
</p>

<%= link_to 'Edit', edit_employee_path(@employee) %> |
<%= link_to 'Back', employees_path %>
